.navigation{
    padding: 0px;
    margin: 0px;
display: block;
width: 100%;
height: 100px;
background-color: black;
color: white;
text-align: center;
justify-content: center;
}

h1{
   padding: 28px;
}


    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    } 
    
body{
    background: linear-gradient(-45deg, #47d23e, #0b0c4b, #76a454, #0b3a0f);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.containerm{
    margin-top: 50px;
  margin-left: 33%;
  border: 2px solid gray;
  width: 550px;
  height: 400px;
  display:inline-block;
  justify-content: center;
  text-align: center;
  background-image: url("mf .jpg");
 
  border-radius: 30px;
  box-shadow: 8px 8px grey;
}

.containerf{
    margin-top: 50px;
    margin-left: 33%;
    margin-bottom: 20px;
    border: 2px solid gray;
    width: 550px;
    height: 400px;
    justify-content: center;
    text-align: center;
    background-image: url("wf.jpg");
    background-repeat: no-repeat;
    border-radius: 30px;
    box-shadow: 8px 8px gray;
   
}

a{
    text-emphasis-style: none;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

h2{
    background-color: white;
}
.footer{
height: 60px;
width: 100%;
}


@keyframes movement {

    from{
        position: 0px 30px;
    }
    to{
        position: 33%  30px;
    }
    
}



div{
    width: 100px;
  height: 100px;
    font-weight: bold;
    position: relative;
    animation: mymove 5s infinite;
  }

  #div1 {animation-timing-function: linear;}
  #div2 {animation-timing-function: ease;}


  @keyframes mymove {
    from {left: 0px;}
    to {left: 220px;}
  }